* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: auto;
}

/* section-1 starts here */
.main {
    height: 60vh;
    width: 100%;
    position: relative;
    overflow-y: hidden;
}

.parallax-image {
    height: 50vh;
    width: 100;
    background-image: url(./assets/paralaximage-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    object-fit: fill;
}

header h1 {
    max-width: fit-content;
    font-size: xx-larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: aquamarine;
}

h1 i {
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;

}

/* .fa-burger {
    display: none;
} */

header>a {
    text-decoration: none;
    color: crimson;
}

#home {
    position: absolute;
    top: 35vh;
    right: 0px;
    left: 0;
    z-index: 1;

}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
    justify-items: center;
    align-content: center;
    padding: 2vh;
    width: 100%;
    /* background-color: cornflowerblue; */
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

nav ul li {
    list-style-type: none;
    /* text-decoration: none; */
    color: white;
    font-size: large;
    transition: all 0.5s;
}

nav ul li:hover {
    text-decoration: underline;
    text-decoration: chartreuse;
}

nav ul a {
    text-decoration: none;
}

@media (max-width: 450px){
    header {
        flex-direction: column;
        justify-content: space-around;
    }

    #home {
        position: absolute;
        top: 25vh;
        right: 0px;
        left: 0;
        z-index: 1;
    
    }
}


